@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap'); */

*{
    font-family: "Outfit", serif;
}

.myImage{
    height: 35px;
}
.monImage{
    height: 500px;
}
.picto{
    height: 25px;
}

/* .myLink{
    background: rgba(0, 0, 255, 0.438);
} */
.myLink:active{
    background: #dedede;
}

.zones{
    background: #9797971e;
}