@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap'); */

*{
    font-family: "Outfit", serif;
}

.myImage{
    height: 35px;
}
.monImage{
    height: 500px;
}
.picto{
    height: 25px;
}

#experiences div{
    display: none;
}


@media screen and (max-width: 1024px) {
    #whoami{
        margin: 50px;
        gap: 20px;
        height: 1200px;
    }
    #whoami div img{
        margin: auto;
    }
    #whoami div:last-child{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: auto;
        text-align: center;
    }

    #parcours{
        height: 850px;
    }
    #parcours>div{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    #whoami{
        gap: 20px;
    }
    #whoami>div{
        margin: 0;
        padding: 0;
    }
    #whoami div img{
        height: 100%;
    }

    #actuellementchez{
        height: 500px;
        padding: 20px;
    }
    #actuellementchez>div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    #parcours{
        height: 1200px;
    }
    #parcours>div{
        grid-template-columns: repeat(1, 1fr);
    }

    #competences{
        height: 100%;
        min-height: 1200px;
    }
    #competences>div{
        grid-template-columns: repeat(1, 1fr);
    }

    #footer div ul{
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }
}

/* .myLink{
    background: rgba(0, 0, 255, 0.438);
} */
.myLink:active{
    background: #dedede;
}

.zones{
    background: #9797971e;
}